@import url(https://fonts.googleapis.com/css?family=Neuton:200,400,700|Roboto+Mono:400,300|Julius+Sans+One|Quattrocento:400);

/* NAVBAR */
#larg {
  font-size: 10vh
}



/* HOME */
#home-section {
  background-color: yellow;
  background-image: url("images/background.JPG");
  vertical-align: middle;
  height: 80vh;
  position: relative;
  font-family: "Inconsolata", monospace;
}

.home {
  background-image: linear-gradient(to right, #c49bbb , transparent);

  height: 50%;
  width: 30%;
  position: absolute;
  top: 55%;
  left: 10%;
	/* -webkit-transform: skew(170deg);
	-moz-transform: skew(170deg);
  -o-transform: skew(170deg); */

  display: flex;
  flex-direction: column

}

.t-stroke {
  letter-spacing: 12px;
  font-size: 10vh;
  font-weight:bold;
  color: transparent;
    -moz-text-stroke-width: 3px;
    -webkit-text-stroke-width: 3px;
    -moz-text-stroke-color: #ffffff;
    -webkit-text-stroke-color: #ffffff;
  padding: 3vh
}

.t-shadow {
  text-shadow: 7px 7px #d1bce3;
}

.home-title-text {
  padding-left: 3vh;
  color: white
}

/* skills */
#skills-section {
  /* background-color: yellow; */
  height:100vh;
};

#box1 {
  color: red
}